<?xml version="1.0" encoding="utf-8"?>
<!--ASP.NET アプリケーションの構成方法の詳細については、http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください-->
<configuration>
  <connectionStrings>
    <add name="SPCDB" connectionString="Data Source=192.168.100.176;Initial Catalog=SPCDB;Persist Security Info=True;User ID=SPC_Dvlt_User;Password=SPC_SQL_User" providerName="System.Data.SqlClient" />
    <!--<add name="SPCDB" connectionString="Data Source=192.168.100.176\RENKETU;Initial Catalog=SPCDB;Persist Security Info=True;User ID=SPC_Dvlt_User;Password=SPC_SQL_User" providerName="System.Data.SqlClient" />-->
    <!--<add name="SPCDB" connectionString="Data Source=192.168.11.150\RENKETU;Initial Catalog=SPCDB;Persist Security Info=True;User ID=SPC_Dvlt_User;Password=SPC_SQL_User" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false" />
    <!--<compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="20480" executionTimeout="360" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <!-- ユーザコントロールの定義 -->
        <add tagPrefix="uc" tagName="ClsCMDateBox" src="~/UserControl/ClsCMDateBox.ascx" />
        <add tagPrefix="uc" tagName="ClsCMDateBoxFromTo" src="~/UserControl/ClsCMDateBoxFromTo.ascx" />
        <add tagPrefix="uc" tagName="ClsCMDropDownList" src="~/UserControl/ClsCMDropDownList.ascx" />
        <add tagPrefix="uc" tagName="ClsCMTextBox" src="~/UserControl/ClsCMTextBox.ascx" />
        <add tagPrefix="uc" tagName="ClsCMTextBoxFromTo" src="~/UserControl/ClsCMTextBoxFromTo.ascx" />
        <add tagPrefix="uc" tagName="ClsCMTextBoxRef" src="~/UserControl/ClsCMTextBoxRef.ascx" />
        <add tagPrefix="uc" tagName="ClsCMTextBoxTwo" src="~/UserControl/ClsCMTextBoxTwo.ascx" />
        <add tagPrefix="uc" tagName="ClsCMTextBoxTwoFromTo" src="~/UserControl/ClsCMTextBoxTwoFromTo.ascx" />
        <add tagPrefix="uc" tagName="ClsCMTimeBox" src="~/UserControl/ClsCMTimeBox.ascx" />
        <add tagPrefix="uc" tagName="ClsCMTimeBoxFromTo" src="~/UserControl/ClsCMTimeBoxFromTo.ascx" />
        <add tagPrefix="uc" tagName="ClsCMDropDownList_Mastr" src="~/UserControl/ClsCMDropDownList_Mastr.ascx" />
        <add tagPrefix="uc" tagName="ClsCMDateTimeBox" src="~/UserControl/ClsCMDateTimeBox.ascx" />
        <add tagPrefix="uc" tagName="ClsCMpnlPopup" src="~/UserControl/ClsCMpnlPopup.ascx" />
        <add tagPrefix="uc" tagName="ClsCMTextBoxPopup" src="~/UserControl/ClsCMTextBoxPopup.ascx" />
      </controls>
    </pages>
    <!--テスト用-->
    <!--
        <authentication mode="Forms">
            <forms loginUrl="~/Common/COMLGIP001/COMLGIP001.aspx" defaultUrl="~/Test/TESTMENU/TESTMENU.aspx" />
        </authentication>
        <authorization>
            <deny users="?" />
        </authorization>-->
    <!--ＣＴＩ受けテスト用-->
    <!--
        <authentication mode="Forms">
            <forms loginUrl="~/Maintenance/CTISELP019/CTISELP019.aspx?TEL=08060528868" defaultUrl="~/Maintenance/CTISELP019/CTISELP019.aspx?TEL=08060528868" timeout="60"/>
        </authentication>
        <authorization>
            <deny users="?" />
        </authorization>-->
    <!--通常設定-->
    <authentication mode="Forms">
      <forms loginUrl="~/Common/COMLGIP001/COMLGIP001.aspx" defaultUrl="~/Common/COMMENP001/COMMENP001.aspx" timeout="600" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <sessionState cookieless="UseCookies" mode="InProc" regenerateExpiredSessionId="true" timeout="480" />
    <!--<customErrors defaultRedirect="~/customError.html" mode="On" />-->
    <customErrors mode="Off" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="LogOutput" value="On" />
    <add key="Address" value="SPC" />
    <!--<add key="Address" value="NGC" />-->
    <!--<add key="Address" value="WKB" />-->
    <add key="ReceiptIP" value="172.27.2.150" />
    <!--<add key="ReceiptIP" value="::1"/>-->
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add verb="*" path="api/reporting/*" type="System.Web.Handlers.ScriptModule" name="nostaticfile" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>